#create-form {
    padding: 20px;
    display: flex;
    flex-direction: column;
    background-color: #606060;
    border-radius: 5px;
    gap: 5px;
    color: white;
    align-items: center;
    border-top: 5px solid salmon;
}

div {
    text-align: center;
}

.input-form {
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    outline: none;
    border: none;
    cursor: pointer;
}

.input-form:hover {
    box-shadow: 0px 0px 16px 1px rgba(250,128,114,1);
    -webkit-box-shadow: 0px 0px 16px 1px rgba(250,128,114,1);
    -moz-box-shadow: 0px 0px 16px 1px rgba(250,128,114,1);
}

.btn {
    padding: 5px;
    border-radius: 5px;
    outline: none;
    border: none;
    margin-top: 15px;
    cursor: pointer;
    background-color: #606060;
    color: white;
    outline: 3px solid salmon;
}

.btn:hover {
    background-color: salmon;
}