/* .btn {
    padding: 10px;
    border-radius: 10px;
    background-color: whitesmoke;
    border: none;
    cursor: pointer;
    width: fit-content;
    height: fit-content;
}

.btn:hover {
    outline: 1px solid gray;
}

.center {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    width: fit-content;
    height: fit-content;
    bottom: 0;
    top: 0;
} */